body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  background-color: #d4d4ce;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
